.vscode
#ignore downloaded charts
src/buyingcatalogue/charts/*.tgz 
#Local overrides git ignored, so people can change them without risk of committing
local-overrides.yaml
#ignore chart lock file
**/Chart.lock 
#ignore chart lock file
**/Chart-*.yaml 
#ignore generated namespace.yaml
namespace.yaml
#ignore results
**/*.trx 
#ignore logs
src/scripts/*/logs/*.txt
src/scripts/*/logs/*.tgz