trigger:
  batch: true
  branches:
    include:
      - master
      - feature/*

pr:
- master

# resources:
#   pipelines:
#   - pipeline: bapi   # Name of the pipeline resource
#     source: nhs-digital-gp-it-futures.BuyingCatalogueService # Name of the triggering pipeline
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master
        
#   - pipeline: dapi   
#     source: nhs-digital-gp-it-futures.BuyingCatalogueDocumentService
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

#   - pipeline: isapi   
#     source: nhs-digital-gp-it-futures.BuyingCatalogueIdentity
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

#   - pipeline: ordapi   
#     source: nhs-digital-gp-it-futures.BuyingCatalogueOrdering
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

#   - pipeline: mp   
#     source: nhs-digital-gp-it-futures.marketing-pages
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

#   - pipeline: pb   
#     source: nhs-digital-gp-it-futures.public-browse
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

#   - pipeline: admin   
#     source: nhs-digital-gp-it-futures.buying-catalogue-admin
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

#   - pipeline: of   
#     source: nhs-digital-gp-it-futures.order-form
#     trigger: 
#       branches:
#         include:
#         - feature/*
#         - development
#         - master

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: packageAndPublish
  displayName: Package And Publish Buyingcatalogue
  variables:
    - group: dev-secrets
  steps:
  - task: UseGitVersion@5
    displayName: gitversion
    inputs:
      versionSpec: '5.x'

  - task: HelmInstaller@1
    displayName: 'install helm'
    inputs:
      helmVersionToInstall: 'latest'
  - bash: |
      helm repo add gpitfuturesdevacr https://gpitfuturesdevacr.azurecr.io/helm/v1/repo --username gpitfuturesdevacr --password $(gpitfuturesdevacr-pass)
      helm dependency update src/buyingcatalogue
      helm package \
          --version $(GitVersion.SemVer) \
          --app-version $(GitVersion.SemVer) \
          src/buyingcatalogue
    displayName: 'helm package'
  - bash: |
      chartPackage=$(ls buyingcatalogue-*.tgz)
      echo "Chart Package $chartPackage"
      sudo apt-get update -o Dir::Etc::sourcelist="sources.list.d/azure-cli.list" -o Dir::Etc::sourceparts="-" -o APT::Get::List-Cleanup="0"
      sudo apt-get install --only-upgrade -y azure-cli
      az --version
      az acr helm push --force \
          -n gpitfuturesdevacr \
          -u gpitfuturesdevacr \
          -p $(gpitfuturesdevacr-pass) \
          $chartPackage
      echo $(jq -n --arg version "$(GitVersion.SemVer)" '{helmChartVersion: $version}') > $(build.artifactStagingDirectory)/variables.json
    failOnStderr: true
    name: helmPush
    displayName: 'az acr helm push'
  - script: echo "##vso[task.setvariable variable=semVer;isOutput=true]$(GitVersion.SemVer)"
    name: setVersionStep  
  - bash: |
      echo "semver $(setVersionStep.semVer), MajorMinorPatch $(GitVersion.MajorMinorPatch), Reason $(Build.Reason), Branch $(Build.SourceBranch), BranchName $(Build.SourceBranchName)"
      if [ $(Build.Reason) = "PullRequest" ]
      then
        echo "PRID $(System.PullRequest.PullRequestId), PRNumber $(System.PullRequest.PullRequestNumber), PRSource $(System.PullRequest.SourceBranch), Target $(System.PullRequest.TargetBranch)"
      fi
      env | sort
    name: echovar

  - task: CopyFiles@2
    inputs:
      SourceFolder: 'environments'
      Contents: '**'
      TargetFolder: '$(build.artifactStagingDirectory)/environments'
      CleanTargetFolder: false
      OverWrite: true

  - task: CopyFiles@2
    inputs:
      SourceFolder: ''
      Contents: '*.sh'
      TargetFolder: '$(build.artifactStagingDirectory)'
      CleanTargetFolder: false
      OverWrite: true
  - publish: $(build.artifactStagingDirectory)
    artifact: build-artifact 

- job: prepareEnvironment
  dependsOn: packageAndPublish
  condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/master'))
  variables:
    - group: dev-secrets
    - name: semVer
      value: $[ dependencies.packageAndPublish.outputs['setVersionStep.semVer'] ]
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: 'az aks get-credentials -n gpitfutures-dev-aks -g gpitfutures-dev-rg-aks'
    name: kubectlContext
    displayName: Get Kubernetes Context

  - bash: './determine-namespace.sh'
    name: DeployVars
    displayName: Set up environment variables for deployment
  
  - bash: |
      helm repo add gpitfuturesdevacr https://gpitfuturesdevacr.azurecr.io/helm/v1/repo --username gpitfuturesdevacr --password $(gpitfuturesdevacr-pass)
    name: addRepo
    displayName: Add gpitfuturesdevacr repo

  - bash: |
      if [ $(DeployVars.IsNewNamespace) = "true" ]; then
       echo "This is a new namespace, leaving versions as specified in Chart.yaml"
      elif [ "$BUILD_REASON" = "ResourceTrigger" ]; then
        buildName=$(compgen -A variable | grep 'RESOURCES_PIPELINE_.*RUNNAME')
        component=$(echo $buildName | cut -d_ -f3)
        arg="$component=${!buildName}"
        ./update-chart-versions.sh -m $(DeployVars.Namespace) -o $args
      fi
    name: UpdateVersions
    displayName: Grab and update component versions

- job: deployToDev
  dependsOn:
    - packageAndPublish 
    - prepareEnvironment
  condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/master'))
  variables:
    - group: dev-secrets
    - name: semVer
      value: $[ dependencies.packageAndPublish.outputs['setVersionStep.semVer'] ]
    - name: namespace
      value: $[ dependencies.prepareEnvironment.outputs['DeployVars.Namespace'] ]
    - name: sqlPackageArgs
      value: "/p:DatabaseEdition=Standard /p:DatabaseServiceObjective=S0"
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: 'az aks get-credentials -n gpitfutures-dev-aks -g gpitfutures-dev-rg-aks'
    name: kubectlContext
    displayName: Get Kubernetes Context
  - bash: |
      helm repo add gpitfuturesdevacr https://gpitfuturesdevacr.azurecr.io/helm/v1/repo --username gpitfuturesdevacr --password $(gpitfuturesdevacr-pass)
    name: addRepo
    displayName: Add gpitfuturesdevacr repo
  - bash: |
      ./launch-or-update-azure.sh -c remote \
        -n $(namespace) \
        -d gpitfutures-dev-sql-pri.database.windows.net \
        -u $(gpitdevsqladminusername) \
        -p $(gpitdevsqladminpassword) \
        -w true \
        -v $(semVer) \
        -s "/p:DatabaseEdition=Standard /p:DatabaseServiceObjective=S0" \
        -a "$(gpitdevstorageaccountconnectionstring)" \
        -i "51.11.46.27" \
        -r $(srt-redishost) \
        -q $(srt-redispass) \
        --db-user-pass $(gpitfuturesdevdbpassword)
    name: deploySystem
    displayName: Deploy System

- job: cleanUpDynamicEnv
  dependsOn: packageAndPublish
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  variables:
    - group: dev-secrets
    - name: semVer
      value: $[ dependencies.packageAndPublish.outputs['setVersionStep.semVer'] ]
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: 'az aks get-credentials -n gpitfutures-dev-aks -g gpitfutures-dev-rg-aks'
    name: kubectlContext
    displayName: Get Kubernetes Context
  - bash: |
      helm repo add gpitfuturesdevacr https://gpitfuturesdevacr.azurecr.io/helm/v1/repo --username gpitfuturesdevacr --password $(gpitfuturesdevacr-pass)
    name: addRepo
    displayName: Add gpitfuturesdevacr repo
  - task: AzureCLI@2
    inputs:
      azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
      scriptType: 'bash'
      scriptLocation: 'scriptPath'
      scriptPath: 'tear-down-azure.sh'
      arguments: '-m "$(Build.SourceVersionMessage)" -d gpitfutures-dev-sql-pri -g gpitfutures-dev-rg-sql-pri -a "$(gpitdevstorageaccountconnectionstring)"'
    name: cleanUp
    displayName: Clean up dynamic environments


# TODO
# - job: runAcceptanceTests
#   dependsOn: packageAndPublish
#   variables:
#     - group: dev-secrets
#   steps:
#     public browse
#     marketing pages
#     admin
#     order
#     identity

  
